<h2>목차</h2>
<hr>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Contents</th>
            <th colspan = "3"></th>
        </tr>
    </thead>
    <tbody>
        <% @boards.each do |board| %>
        <tr>
            <td><%= board.title %></td>
            <td><%= board.contents %></td>
            <td><%= link_to "보기", "/boards/#{board.id}" %></td>
            <td><%= link_to "수정", "/boards/#{board.id}/edit" %></td>
            <td><%= link_to "삭제", "/boards/#{board.id}", method: "delete" %></td>
        </tr>
        <% end %>
    </tbody>
</table>